* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.menu {
    background-color: #8B4513;
    font-size: 20px;
    color: #fff;
    height: 100px;
    box-shadow: 0 5px 10px 0 #00000066;
}

.menu__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
}

.menu__links {
    height: 100%;
    transition: transform .5s;
    display: flex;
}

.menu__item {
    list-style: none;
    position: relative;
    height: 100%;
    --clip: polygon(0 0, 100% 0, 100% 0, 0 0);
    --transform: rotate(-90deg);
}

.menu__item_user {
    list-style: none;
    position: relative;
    margin-left: 400px;
    height: 100%;
    --clip: polygon(0 0, 100% 0, 100% 0, 0 0);
    --transform: rotate(-90deg);
}

.menu__item:hover {
    --clip: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    --transform: rotate(0);
}

.menu__link,
.menu__link_logo {
    color: #fff;
    text-decoration: none;
    padding: 0 30px;
    display: flex;
    height: 100%;
    align-items: center;
}

.menu__link:hover {
    background-color: #2aff4366;
    transition: 0.225s;
}


.menu__arrow {
    transform: var(--transform);
    transition: transform .3s;
    display: block;
    margin-left: 3px;
}

.menu__nesting {
    list-style: none;
    transition: clip-path .3s;
    clip-path: var(--clip);
    position: absolute;
    right: 0;
    bottom: 0;
    width: max-content;
    transform: translateY(100%);
    background-color: #000;
}

.menu__link--inside {
    padding: 30px 100px 30px 20px;
}

.menu__link--inside:hover {
    background-color: #798499;
}

.menu__hamburguer {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 15px;
    cursor: pointer;
    display: none;
}

.menu__img {
    display: block;
    width: 36px;
}

@media (max-width:800px) {

    .menu__hamburguer {
        display: flex;
    }

    .menu__item {
        --clip: 0;
        overflow: hidden;
    }

    .menu__item_user {
        margin: 0;
        --clip: 0;
        overflow: hidden;
    }

    .menu__item--active {
        --transform: rotate(0);
        --background: #5e7094;
    }

    .menu__item--show {
        background-color: var(--background);
    }

    .menu__item_user--active {
        --transform: rotate(0);
        --background: #5e7094;
    }

    .menu__item_user--show {
        background-color: var(--background);
    }


    .menu__links {
        position: fixed;
        max-width: 400px;
        width: 100%;
        top: 70px;
        bottom: 0;
        right: 0;
        background-color: #000;
        overflow-y: auto;
        display: grid;
        grid-auto-rows: max-content;
        transform: translateX(100%);
    }

    .menu__links--show {
        transform: unset;
        width: 100%;
    }

    .menu__link {
        padding: 25px 0;
        padding-left: 30px;
        height: auto;
    }

    .menu__arrow {
        margin-left: auto;
        margin-right: 20px;
    }

    .menu__nesting {
        display: grid;
        position: unset;
        width: 100%;
        transform: translateY(0);
        height: 0;
        transition: height .3s;
    }

    .menu__link--inside {
        width: 90%;
        margin-left: auto;
        border-left: 1px solid #798499;
    }
}



.menu__link--inside {
    padding: 30px 100px 30px 20px;
}

.menu__link--inside:hover {
    background-color: #798499;
}

.menu__hamburguer {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 15px;
    cursor: pointer;
    display: none;
}

.menu__img {
    display: block;
    width: 36px;
}

@media (max-width:800px) {

    .menu__hamburguer {
        display: flex;
    }

    .menu__item {
        --clip: 0;
        overflow: hidden;
    }

    .menu__item--active {
        --transform: rotate(0);
        --background: #5e7094;
    }

    .menu__item--show {
        background-color: var(--background);
    }


    .menu__links {
        position: fixed;
        max-width: 400px;
        width: 100%;
        top: 70px;
        bottom: 0;
        right: 0;
        background-color: #000;
        overflow-y: auto;
        display: grid;
        grid-auto-rows: max-content;
        transform: translateX(100%);
    }

    .menu__links--show {
        transform: unset;
        width: 100%;
    }

    .menu__link {
        padding: 25px 0;
        padding-left: 30px;
        height: auto;
    }

    .menu__arrow {
        margin-left: auto;
        margin-right: 20px;
    }

    .menu__nesting {
        display: grid;
        position: unset;
        width: 100%;
        transform: translateY(0);
        height: 0;
        transition: height .3s;
    }

    .menu__link--inside {
        width: 90%;
        margin-left: auto;
        border-left: 1px solid #798499;
    }
}

.main-content {
    text-align: center;
}

h2 {
    margin: 20px auto;
}

.league-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    margin: 50px auto;
}

.league-item {
    margin: 15px
}

.league-item img:hover {
    border: 5px solid #2f8939;
    animation: pulse 1s infinite;
    cursor: pointer;
    transition: 0.333s;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 10px #2f8932;
    }

    50% {
        box-shadow: 0 0 20px #2f8932;
    }

    100% {
        box-shadow: 0 0 10px #2f8932;
    }
}

.league-item img {
    height: 300px;
    width: 300px;
    border-radius: 22px;
    border-color: #2f8932;
    box-shadow: 0 0 10px #2f8932;
    border-width: 10px;
}

.anuncio-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.anuncio-container {
    width: 90%;
    max-width: 500px;
    position: relative;
    display: block;
    z-index: 1000;
}

.anuncio {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
    border: 1px solid #e0e0e0af;
    backdrop-filter: blur(5px);
}

.cerrar-anuncio {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 10;
}

.cerrar-anuncio:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.anuncio-imagenes {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.anuncio-imagen {
    width: 50%;
    height: 150px;
    background-size: cover;
    background-position: center;
}

.anuncio-texto {
    padding: 15px;
    text-align: center;
    background-color: rgba(167, 201, 235, 0.7);
    font-weight: bold;
    color: #2c3e50;
}

.hidden {
    display: none;
}

.footer {
    padding-bottom: 50px;
    padding: 4.25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #8B4513;
    color: white;
    font-size: 20px;
    width: 100%;
    height: 150px;
    box-shadow: 0 0 10px 5px #00000066;
}

@media (max-width: 800px) {
    .league-grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: -10px;
    }

    .league-item img {
        width: 150px;
        height: 150px;
    }

    .footer {
        display: none;
    }
}